/* ================ DEBUT ================*/
/* ============ DE LA PARTIE  ============*/
/* ================= help  =================*/
.border_help {
  padding:10px;
  margin: 10px;
  border: 5px solid #000101;
}
/* ================ FIN ================*/
/* ============ DE LA PARTIE  ============*/
/* ================= help  =================*/

.border_lio {
  border-radius: 10px;
  padding:30px;
  margin: 30px;
  border: 0.5px solid #000101;
  height: 410px;
}

.carousel_lio {
  width: 30rem;
}

/* ================ DEBUT ================*/
/* ============ DE LA PARTIE  ============*/
/* ================= TEXTES  =================*/

/*Class qui gère tous les titres de mes éléments*/
.top_border_lio {
  border-top-width: 5px solid #000101;
}

.title {
  margin-top: 100px;
  margin-bottom: 60px;
  text-align: center;
}

/*Class qui gère tous les textes dans mes éléments présentés*/
.left_position {
  margin-right: 80px;
}

.title_ex {
  padding: 20px;
  text-align: center;
  line-height: 30px;
}

.text_ex {
  text-align: justify;
  width: 30rem;
}

.horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.articles {
  display: block;
}

.centre {
  display: flex;
  justify-content: space-around;
}
